* {
    box-sizing: border-box;
   }
   body {
	margin: 10px;
	padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   header {
    background-color: #3c2525;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
   }
   h1{
	font-size: 40px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;

   }
   h2{
	font-size: 24px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
	}
	h3{
	font-size: 18px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
	margin-left: 70px ;
	}
section{
	background-color: #f1f1f1;
}
   form {
    padding-left: 90px;
    width: 100%;
    background-color: #f1f1f1;
    height: 270px;
	font-size: 16px;

   } 
   footer {
    background-color: #3c2525;
    padding: 16px;
    text-align: center;
    color: white;
	float: bottom;
   }
   @media (max-width: 600px) {
    nav, article { width: 100%;
        height: auto;
        }
       }    