<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet " href="{{url_for('static', filename= 'style.css')}}">
    <title>Preceptor</title>
</head>

<body>
    <header>
        <h1>Colegio San Miguel</h1>
    </header>


    <section>
        <h2>Bienvenid@ preceptor/a</h2>
    </section>
    <!-- --------BOTONERA--------------- -->
    <div id="botonera">
        <nav class="botones">
            <ul class="menu">
                <li><a href="{{url_for('agregarAsistencia')}}"> <b>REGISTRAR ASISTENCIA</a></b></li>
                <li><a href=""> <b>OBTENER INFORME DE ASISTENCIAS</a></b></li>
                <li><a href=""><b>SALIR</a></b></li>
            </ul>
        </nav>
    </div>
    <h2>Seleccione un alumno para registrar asistencia</h2>
      <!-- --------TABLA CON LOS CURSOS--------------- -->
    <form action="{{url_for('agregarAsistencia')}}">
    <table class="cursoSelect">
        <tr>
            <th>Nombre</th>
            <th>Asistencia</th>
            <th>Clase</th>
            <th>Justificación</th>
          </tr>
        
          <tr>
            <td>Name 1</td>
            <td>s</td>
            <td>codigo 1</td>
            <td></td>
          </tr>
        
          <tr>
            <td>Name 1</td>
            <td>s</td>
            <td>codigo 1</td>
            <td></td>
          </tr>
        
          <tr>
            <td>Name 1</td>
            <td>s</td>
            <td>codigo 1</td>
            <td></td>
          </tr>
          <th><input type = "submit" value = "Guardar asistencia" /></th>
    </table>
</form>

    <footer>
        <p>Av. José Ignacio de la Roza 1804 - Tel.: (264) 4235702</p>
    </footer>
</body>

</html>